// Brand
$primary1: #121212;
$primary2: #1a1919;
$secondary: #eaf0ed;
$accent1: #05eC6a;
$accent2: #F5aa0c;

// Layers
$bg: $primary1 !default;
$surface: $accent1 !default;
$error: #f13b38 !default;

// Typography
$on: $secondary !default;
$onbg: $on !default;
$onsurface: #E2C442 !default;
$onerror: $on !default;
