// libraries or modules
@use "sass:list" as *;
@use "sass:color" as *;

// global variables
$bulb: false !default;

// color palette, dark version
$base-dark: #161616;
$base-light: #FAFAFA;
$yellow: #FFD55C;
$cyan: #5E6EB9;
$magenta: #F580D9;
$red: #DF2C4C;
$green: #5B9956;
$blue: #6BC4E2;

@if $bulb {
  // color palette, light version
  $base-dark: #FAFAFA;
  $base-light: #161616;
  $yellow: scale(complement($yellow), $lightness: 33%);
  $cyan: scale(complement($cyan), $lightness: 33%);
  $magenta: scale(complement($magenta), $lightness: 33%);
  $red: scale(complement($red), $lightness: 33%);
  $green: scale(complement($green), $lightness: 33%);
  $blue: scale(complement($blue), $lightness: 33%);
}

// grouping colors and alternative names for colors
$base: $base-dark $base-light !default;
$cmy: $cyan $magenta $yellow !default;
$rgb: $red $green $blue !default;
$background: nth($base, 1) !default;
$foreground: nth($base, 2) !default;
