// modules and libraries
@use "sass:color" as *;
@use "color_template" as palette;
@use "font_template" as f;

// css
html {
  @include noninverse-colors;
}

span.highlight {
  background-color: scale(palette.$yellow, $saturation: 15%);
}

@include firstlettering_for_posts(p);

%toggles {
  color: palette.$red;

  &:hover {
    text-shadow: 0 0 5px scale(palette.$red, $lightness: 5%);
  }
}

a {
  @extend %toggles;
}

button {
  @extend %toggles;
}
